<main *ngIf="currentUserData">
        <div class="bejeli" *ngIf="isLoggedIn() && !fiokTorles && !jelszoFrissites && !szallitasFrissites && !fizetesFrissites; else otherBlocks">
            <div class="wrapper">
                <h2>Személyes adatok</h2>
                    <hr>
                <div class="szokoz">
                    <form [formGroup]="profilForm" (ngSubmit)="updateProfile()" > 
                        <mat-form-field appearance="outline">
                            <mat-label>Vezetéknév</mat-label>
                            <input matInput type="text" formControlName="vezeteknev"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Keresztnév</mat-label>
                            <input matInput type="text" formControlName="keresztnev"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Telefonszám</mat-label>
                            <input matInput type="text" formControlName="telefonszam" />
                        </mat-form-field>
                        <div class="gomb">
                            <button mat-flat-button >Módosítás</button>
                        </div>
                    </form>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>Email-cím: {{currentUserData?.email}}</h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    Jelszó módosítása <button mat-flat-button (click)="showUpdatePassword()">Módosítás</button>
                                </div>
                            </h3>
                        </div>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    <ng-container *ngIf="getHirlevelsub(); else notSubscribed">
                                        Hírlevélre feliratkozva<button mat-flat-button (click)="HirlevelEltavolit()">Eltávolítás</button>
                                    </ng-container>
                                    <ng-template #notSubscribed>
                                        Hírlevél feliratkozás<button mat-flat-button (click)="HirlevelHozzaad()">Feliratkozás</button>
                                    </ng-template>
                                </div>
                            </h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                      <ng-container *ngIf="currentUserData?.szallitasi_adatok && currentUserData?.szallitasi_adatok !== ''; else noSzallitasiAdat">
                                        Szállítási adatok <button mat-flat-button (click)="SzallitasEltavolit()">Eltávolítás</button>
                                        <p>{{currentUserData?.szallitasi_adatok}} Szeged 6700</p>
                                        <br>
                                        </ng-container>
                                        <ng-template #noSzallitasiAdat>
                                        Szállítási adatok <button mat-flat-button (click)="showSzallitas()">Hozzáadás</button>
                                        <p>Még nincs megadva szállítási adat!</p>
                                        <br>
                                        </ng-template>   
                                </div>
                            </h3>
                        </div>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    <ng-container *ngIf="currentUserData?.fizetesi_adatok && currentUserData.fizetesi_adatok !== ''; else noFizetesiAdat">
                                        Fizetési adatok <button mat-flat-button (click)="FizetesEltavolit()">Eltávolítás</button>
                                        <p>Utánvét (készpénzzel)</p>
                                        <br>
                                    </ng-container>
                                    <ng-template #noFizetesiAdat>
                                        Fizetési adatok <button mat-flat-button (click)="showFizetes()">Hozzáadás</button>
                                        <p>Még nincs megadva fizetési adat!</p>
                                        <br>
                                    </ng-template>
                                </div>
                            </h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3 class="rendelesekxd">Rendelések megtekintése</h3>
                        </div>
                        <hr>
                        <div class="kijelentkezes">
                            <button class="kijelibutton" mat-flat-button (click)="kijelentkezes()">Kijelentkezés</button>
                        </div>
                        <div *ngIf="!isAdmin()" class="kijelentkezes">
                            <button class="kijelibutton" mat-flat-button (click)="showDeleteAccount()">Fiók törlése</button>
                        </div>
                </div>
            </div>
        </div>
        <ng-template #otherBlocks>
            <div class="hibasvalami" *ngIf="!isLoggedIn() && !fiokTorles && !jelszoFrissites && !szallitasFrissites && !fizetesFrissites">
                <div class="azthiszemez">
                    <h2>Hoppáré!</h2>
                    <p>Hogyha meg szeretnéd tekinteni a fiókod, akkor jelentkezzen be!</p>
                    <br>
                    <a mat-list-item routerLink="/bejelentkezes" routerLinkActive="activate-list-item">Kattints ide a bejelentkezéshez!</a>
                </div>
            </div>
                    <div class="bejeli" *ngIf="isLoggedIn() && fiokTorles && !jelszoFrissites && !szallitasFrissites && !fizetesFrissites">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a jelszavát a törléshez!</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" [(ngModel)]="veglegesJelszo" required />
                </mat-form-field>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="deleteAccount()">Törlés</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="fiokTorles = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !fiokTorles && jelszoFrissites && !szallitasFrissites && !fizetesFrissites">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a jelszavát és előző jelszavát a módosításhoz!</h3>
                <div class="sneci">
                    <mat-form-field appearance="outline">
                    <mat-label>Régi jelszó</mat-label>
                    <input matInput type="password" [(ngModel)]="oldPass" required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Új jelszó</mat-label>
                    <input matInput type="password" [(ngModel)]="newPass" required />
                </mat-form-field>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="updatePassword()">Módosítás</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="jelszoFrissites = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !fiokTorles && !jelszoFrissites && szallitasFrissites && !fizetesFrissites">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a szállítási adatait!</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Szállítási adatok</mat-label>
                    <input matInput [(ngModel)]="szallitasiAdatokHozza" required placeholder="Utca, házszám"/>
                </mat-form-field>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="SzallitasHozzaad()">Hozzáadás</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="szallitasFrissites = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !fiokTorles && !jelszoFrissites && !szallitasFrissites && fizetesFrissites">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a fizetési adatait!</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Fizetési adatok</mat-label>
                    <mat-select [(ngModel)]="fizetesiAdatokHozza">
                        <mat-option value="utanvet">Utánvét (készpénzzel)</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="FizetesHozzaad()">Hozzáadás</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="fizetesFrissites = false">Mégse</button>
                </div>
            </div>
        </div>
        </ng-template>

</main>