<main *ngIf="currentUserData">
        <div class="bejeli" *ngIf="isLoggedIn() && !showAccountDelete && !showPasswordUpdate && !szallitasFrissites && !fizetesFrissites && !showOrders; else otherBlocks">
            <div class="wrapper">
                <h2>Személyes adatok</h2>
                    <hr>
                <div class="szokoz">
                    <form [formGroup]="profilForm" (ngSubmit)="updateProfile()" > 
                        <mat-form-field appearance="outline">
                            <mat-label>Vezetéknév</mat-label>
                            <input matInput type="text" formControlName="vezeteknev"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Keresztnév</mat-label>
                            <input matInput type="text" formControlName="keresztnev"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Telefonszám</mat-label>
                            <input matInput type="text" formControlName="telefonszam" />
                        </mat-form-field>
                        <div class="gomb">
                            <button mat-flat-button >Módosítás</button>
                        </div>
                    </form>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>Email-cím: {{currentUserData?.email}}</h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    Jelszó módosítása <button mat-flat-button (click)="showUpdatePassword()">Módosítás</button>
                                </div>
                            </h3>
                        </div>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    <ng-container *ngIf="getHirlevelsub(); else notSubscribed">
                                        Hírlevélre feliratkozva<button mat-flat-button (click)="HirlevelEltavolit()">Eltávolítás</button>
                                    </ng-container>
                                    <ng-template #notSubscribed>
                                        Hírlevél feliratkozás<button mat-flat-button (click)="HirlevelHozzaad()">Feliratkozás</button>
                                    </ng-template>
                                </div>
                            </h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                      <ng-container *ngIf="currentUserData?.szallitasi_adatok && currentUserData?.szallitasi_adatok !== ''; else noSzallitasiAdat">
                                        Szállítási adatok <button mat-flat-button (click)="SzallitasEltavolit()">Eltávolítás</button>
                                        <p>{{currentUserData?.szallitasi_adatok}} Szeged 6700</p>
                                        <br>
                                        </ng-container>
                                        <ng-template #noSzallitasiAdat>
                                        Szállítási adatok <button mat-flat-button (click)="showSzallitas()">Hozzáadás</button>
                                        <p>Még nincs megadva szállítási adat! A rendelés leadásához adjon meg egyet!</p>
                                        <br>
                                        </ng-template>   
                                </div>
                            </h3>
                        </div>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    <ng-container *ngIf="currentUserData?.fizetesi_adatok && currentUserData.fizetesi_adatok !== ''; else noFizetesiAdat">
                                        Fizetési adatok <button mat-flat-button (click)="FizetesEltavolit()">Eltávolítás</button>
                                        <p>Utánvét (készpénzzel)</p>
                                        <br>
                                    </ng-container>
                                    <ng-template #noFizetesiAdat>
                                        Fizetési adatok <button mat-flat-button (click)="showFizetes()">Hozzáadás</button>
                                        <p>Még nincs megadva fizetési adat!</p>
                                        <br>
                                    </ng-template>
                                </div>
                            </h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3 class="rendelesekxd" (click)="showOrders = !showOrders">Rendelések megtekintése</h3>
                        </div>
                        <hr>
                        <div class="kijelentkezes">
                            <button class="kijelibutton" mat-flat-button (click)="kijelentkezes()">Kijelentkezés</button>
                        </div>
                        <div *ngIf="!isAdmin()" class="kijelentkezes">
                            <button class="kijelibutton" mat-flat-button (click)="showDeleteAccount()">Fiók törlése</button>
                        </div>
                </div>
            </div>
        </div>
        <ng-template #otherBlocks>
            <div class="hibasvalami" *ngIf="!isLoggedIn() && !showAccountDelete && !showPasswordUpdate && !szallitasFrissites && !fizetesFrissites && !showOrders">
                <div class="azthiszemez">
                    <h2>Hoppáré!</h2>
                    <p>Hogyha meg szeretnéd tekinteni a fiókod, akkor jelentkezzen be!</p>
                    <br>
                    <a mat-list-item routerLink="/bejelentkezes" routerLinkActive="activate-list-item">Kattints ide a bejelentkezéshez!</a>
                </div>
            </div>
                    <div class="bejeli" *ngIf="isLoggedIn() && showAccountDelete && !showPasswordUpdate && !szallitasFrissites && !fizetesFrissites && !showOrders">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a jelszavát a törléshez!</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" [(ngModel)]="veglegesJelszo" required />
                </mat-form-field>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="deleteAccount()">Törlés</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="showAccountDelete = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !showAccountDelete && showPasswordUpdate && !szallitasFrissites && !fizetesFrissites && !showOrders">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a jelszavát és előző jelszavát a módosításhoz!</h3>
                <div class="sneci">
                    <mat-form-field appearance="outline">
                    <mat-label>Régi jelszó</mat-label>
                    <input matInput type="password" [(ngModel)]="oldPass" required />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Új jelszó</mat-label>
                    <input matInput type="password" [(ngModel)]="newPass" required />
                </mat-form-field>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="updatePassword()">Módosítás</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="showPasswordUpdate = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !showAccountDelete && !showPasswordUpdate && szallitasFrissites && !fizetesFrissites && !showOrders">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a szállítási adatait!</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Szállítási adatok</mat-label>
                    <input matInput [(ngModel)]="szallitasiAdatokHozza" required placeholder="Utca, házszám"/>
                </mat-form-field>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="SzallitasHozzaad()">Hozzáadás</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="szallitasFrissites = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !showAccountDelete && !showPasswordUpdate && !szallitasFrissites && fizetesFrissites && !showOrders">
            <div class="wrapper">
                <h3 class="pass-box">Adja meg a fizetési adatait!</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Fizetési adatok</mat-label>
                    <mat-select [(ngModel)]="fizetesiAdatokHozza">
                        <mat-option value="utanvet">Utánvét (készpénzzel)</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="FizetesHozzaad()">Hozzáadás</button>
                </div>
                <div class="kijelentkezes">
                    <button class="kijelibutton" mat-flat-button (click)="fizetesFrissites = false">Mégse</button>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="isLoggedIn() && !showAccountDelete && !showPasswordUpdate && !szallitasFrissites && !fizetesFrissites && showOrders">
            <div class="wrapper">
                <h3 class="pass-box">Rendelések</h3>
                <hr>
                <ng-container *ngIf="ordersLoading; else ordersLoaded">
                    <div class="order-loading">
                        <p>Rendelések betöltése...</p>
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                </ng-container>
                <ng-template #ordersLoaded>
                        <ng-container *ngIf="orders.length > 0; else noOrders">
                        <div *ngFor="let order of orders" class="order-card">
                            <div class="order-info">
                                <div>
                                    <div><b>Dátum:</b> {{order.ido | customDate}}</div>
                                    <div><b>Szállítási adatok:</b> {{order.szallitasi_adatok}}</div>
                                    <div><b>Összeg:</b> {{order.sum | hufcurrency }} Ft</div>
                                </div>
                                <button class="order-view-btn" mat-flat-button (click)="openOrderDialog(order, orderDialog)">Részletek</button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noOrders>
                        <p class="noorderxd">Még nincs rendelésed!</p>
                    </ng-template>
                    <hr>
                    <br>
                    <br>
                    <button class="order-view-btn" mat-flat-button (click)="showOrders = !showOrders">Mégse</button>
                </ng-template>
 
            </div>
        </div>
        </ng-template>
<ng-template #orderDialog let-data>
  <h2 mat-dialog-title>Rendelés részletei</h2>
  <mat-dialog-content>
    <div *ngIf="orderDialogLoading" class="order-dialog-loading">
        <div><b>Adatok betöltése...</b></div>
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div *ngIf="!orderDialogLoading">
      <div *ngFor="let item of orderDialogItems" class="order-item-row">
        <img [src]="item.product?.kepeleres" width="60" height="60" style="object-fit:cover; border-radius:8px; margin-right:12px;">
        <div class="order-item-info">
          <div class="order-item-name">{{ item.product?.termeknev }}</div>
          <div class="order-item-egyseg">Egységár: {{ item.product?.termekara | hufcurrency }} Ft</div>
          <div class="order-item-mennyiseg">Mennyiség: {{ item.mennyiseg }}</div>
        </div>
        <div class="order-item-sum">Összesen: {{ item.sum | hufcurrency }} Ft</div>
      </div>
      <hr>
      <br>
      <div class="order-total">
        <div><b>Termékek összesen:</b> {{ orderDialogSum | hufcurrency }} Ft</div>
        <div><b>Áfa (27%):</b> {{ orderDialogTax | hufcurrency }} Ft</div>
        <div><b>Végösszeg (bruttó):</b> {{ orderDialogFull | hufcurrency }} Ft</div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="order-view-button" *ngIf="!orderDialogLoading" mat-flat-button color="primary" mat-dialog-close>Bezárás</button>
  </mat-dialog-actions>
</ng-template>

</main>