<main class="alkeszitalok" id="alkeszitalok">
    <h1 class="heading">Különleges <span> Italok</span></h1>
      <div class="box-container">
        <div class="box" *ngFor="let item of kulonlegesTermekek">
            <div class="kep">
                <img mat-card-image [src]="item.kepeleres" [alt]="item.termeknev">
                <div class="icon" *ngIf="isLoggedIn()">
                    <button mat-mini-fab (click)="addToCart(item)"><mat-icon>shopping_basket</mat-icon></button>
                </div>
            </div>
            <div class="italok">
                <h3>{{item.termeknev}}</h3>
                <div class="ar">{{item.termekara | hufcurrency }} Ft</div>
            </div>
        </div>
    </div>
  </main>