<main>
        <div class="bejeli" *ngIf="isLoggedIn() && isAdmin() && !showEditProduct; else otherBlock">
            <div class="wrapper">
                <h2>Szerkesztői felület</h2>
                <hr>
                <div class="szokoz">
                    <form [formGroup]="adminForm" (ngSubmit)="adminAdd()">
                        <mat-form-field appearance="outline">
                            <mat-label>Terméknév</mat-label>
                            <input matInput type="text" formControlName="termeknev" required="true"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Termékára</mat-label>
                            <input matInput type="text" formControlName="termekara" required="true"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Kategória</mat-label>
                            <mat-select formControlName="kategoria" required="true">
                                <mat-option value="uditok">Üdítő</mat-option>
                                <mat-option value="alkoholos">Alkoholos</mat-option>
                                <mat-option value="kulonleges">Különleges</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                            <input type="file" (change)="onImageSelected($event)" accept="image/*" required />
                        <div class="gomb">
                            <button mat-flat-button>Hozzáadás</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bejeli" *ngIf="!showEditProduct">
            <div class="wrapper">
                <h2>Termékek</h2>
                <hr>
                <div class="szokoz">
                    <table class="admin-tabla">
                        <tr>
                            <th>Termék neve</th>
                            <th>Termék ára</th>
                            <th>Kategória</th>
                            <th>Kép</th>
                            <th>Műveletek</th>
                        </tr>
                        <tr *ngFor="let termek of pagedProducts">
                            <td>{{termek.termeknev}}</td>
                            <td>{{termek.termekara | hufcurrency }} Ft</td>
                            <td>{{getKategoriaLabel(termek.kategoria)}}</td>
                            <td><img mat-card-image src="{{termek.kepeleres}}" style="width: 100px;" alt="{{termek.termeknev}}"></td>
                            <td>
                                <div class="button-col">
                                    <button class="erase-button" mat-flat-button (click)="termekTorles(termek.id)">Törlés</button>
                                    <button class="erase-button" mat-flat-button (click)="editProduct(termek.id); toggleEditProduct()" >Szerkesztés</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <mat-paginator [length]="products.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Oldal navigáció"></mat-paginator>
                </div>
            </div>
        </div>
        <ng-template #otherBlock>
            <div class="hibasvalami" *ngIf="isLoggedIn() && !isAdmin()">
                <div class="azthiszemez">
                    <h2>Hoppáré!</h2>
                    <p>Hogy megtekinthesd az oldalt kérjük lépj be az admin fiókba!</p>
                    <br>
                    <a mat-list-item routerLink="/profil" routerLinkActive="activate-list-item">Kattints ide a profilhoz!</a>
                </div>
            </div>
            <div class="hibasvalami" *ngIf="!isLoggedIn() && !isAdmin()">
                <div class="azthiszemez">
                    <h2>Hoppáré!</h2>
                    <p>Hogy megtekinthesd az oldalt kérjük lépj be az admin fiókba!</p>
                    <br>
                    <a mat-list-item routerLink="/bejelentkezes" routerLinkActive="activate-list-item">Kattints ide a bejelentkezéshez!</a>
                </div>
            </div>
        <div class="bejeli" *ngIf="showEditProduct; else otherBlock">
            <div class="wrapper">
                <h2>Termék szerkesztése</h2>
                <hr>
                <div class="szokoz">
                    <form [formGroup]="adminUpdateForm" (ngSubmit)="updateAdmin()">
                        <mat-form-field appearance="outline">
                            <mat-label>Terméknév</mat-label>
                            <input matInput type="text" formControlName="termeknev" required="true"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Termékára</mat-label>
                            <input matInput type="text" formControlName="termekara" required="true"/>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Kategória</mat-label>
                            <mat-select formControlName="kategoria" required="true">
                                <mat-option value="uditok">Üdítő</mat-option>
                                <mat-option value="alkoholos">Alkoholos</mat-option>
                                <mat-option value="kulonleges">Különleges</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                            <input type="file" (change)="onImageSelected($event)" accept="image/*" required />
                        <div class="gomb">
                            <button mat-flat-button>Hozzáadás</button>
                            <button mat-flat-button (click)="toggleEditProduct()">Mégse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </ng-template>
</main>