<main>
    <div class="hibasvalami" *ngIf="!isLoggedIn(); else ItsLoggedLol">
        <div class="azthiszemez">
            <h2>Hoppáré!</h2>
            <p>A rendelések megtekintésehez kérjük jelentkezzen be!</p>
            <a mat-list-item routerLink="/bejelentkezes" routerLinkActive="activate-list-item">Kattints ide a bejelentkezéshez!</a>   
        </div>
    </div>
    <ng-template #ItsLoggedLol>
        <div *ngIf="loading && !checkoutDone && !checkoutLoading" class="hibasvalamixd">
            <div class="azthiszemez">
                <h2>Kosár betöltése</h2>
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div *ngIf="checkoutLoading" class="hibasvalamixd">
            <div class="azthiszemez">
                <h2>Rendelés véglegesítése</h2>
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div class="hibasvalamixd" *ngIf="checkoutDone">
            <div class="azthiszemez">
                <h2>Sikeres megrendelés!</h2>
                <p>Tekintsd meg a rendelésed a profilodon!</p>
            </div>
        </div>
        <div class="kosarka" *ngIf="mennyiseg !== 0 && !checkoutLoading">
            <div class="kosar-oldal">
                <table>
                    <tr>
                        <th>Termék</th>
                        <th>Mennyiség</th>
                        <th>Egységár</th>
                    </tr>
                    <tr *ngFor="let item of termekek; let i = index">
                        <td>
                        <div class="kosar-info">
                            <img mat-card-image src="{{item.kepeleres}}" alt="{{item.termeknev}}"> 
                                <div>
                                    <p>{{item.termeknev}}</p>
                                    <small>Ár: {{item.termekara | hufcurrency }} Ft</small><br>
                                    <button mat-flat-button (click)="onDelete(item.id)">Törlés</button>
                                </div>
                        </div>
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="item.mennyi"  min="0" (change)="onQuantityChange(item)">
                        </td>
                        <td>{{item.termekara * item.mennyi | hufcurrency }} Ft</td>
                        </tr>  
                        </table>            
                </div>
            </div>
                <div class="teljes-osszeg" *ngIf="mennyiseg !== 0 && !checkoutLoading">              
                    <table>
                        <tr>
                            <td>Összeg</td>
                            <td>{{getTeljesOsszeg() | hufcurrency}} Ft</td>
                        </tr>
                        <tr>
                            <td>Áfa Összeg</td>
                            <td>{{getAfa() | hufcurrency}} Ft</td>
                        </tr>
                        <tr>
                            <td>Összesen</td>
                            <td>{{getVegosszeg() | hufcurrency}} Ft</td>
                        </tr>
                    </table>
                    <button mat-flat-button (click)="onCheckout()" [disabled]="!currentUserData.szallitasi_adatok || !currentUserData.fizetesi_adatok">Megrendelés</button>
                </div>
                
            <div class="hibasvalami" *ngIf="mennyiseg === 0 && !loading && !checkoutLoading && !checkoutDone">
                    <div class="azthiszemez">
                        <h2>Hoppáré!</h2>
                        <p>A kosarad üres!</p>
                        <a mat-list-item routerLink="/fomenu" routerLinkActive="activate-list-item">Kattints ide a vásárláshoz!</a>   
                    </div>
            </div>
        </ng-template>
</main>